<center>
<form id="search">
  <h1>Search Phrase</h1>
  <input type="search" name="query">
  <input type="submit" value="Submit">
</form>

<div class="preview" id="preview">
<% if @result %>
  <% if @result.present? %>
  	<ul>
  		<% @result.each do |result| %>
      <li> <%= link_to result['speaking'] %></li>
		<% end %>
    </ul>
  <% else %>
    <p>Whoops, we couldn't find that one.</p>
  <% end %>

<% end %> 
</div>
</center>