<center>
<form id="search">
  <h1>Search for your favorite phrase in congressional docs!</h1>
  <input type="search" name="query">
  <input type="submit" value="Submit">
</form>
</center>

<div class="preview" id="preview">
<% if @result %>
  <% if @result.present? %>
  		<% @result.each do |result| %>
     <p>
      <%= result['speaker_raw'] %>
      referenced  "<%= @query %>" here </p>
      <p><%= link_to result['title'], result['origin_url'] %></p> 

		<% end %>

    <% else %>
    <p>Whoops, we couldn't find that one.</p>
  <% end %>

<% end %> 
</div>
